header {
	background-color: #139bf5;
	margin: auto -16px;
	padding: 16px 32px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

header h1 {
	color: #fff;
	font-family: 'Permanent Marker';
	font-size: 2em;
	font-weight: 200;
}
